<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	

<p class="text-center"><%- data %></p>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
